<html>

<head>
    <title>File uploading</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            position: relative;
            min-height: 50px;
            border: 1px solid transparent;
        }
    </style>

    <script>
        $(document).ready(function () {
            var anotherClicked = false;
            $('#file').on('click', () => {
                anotherClicked = true;
            })
            // adjust the form submit button action to send a post route to the submit url 
            $('#uploadForm').submit(function () {
                if ($('#file').val() != "" && anotherClicked == true) {
                    $("#status").empty().text("Please wait ... as the image file being uploading .....");
                    $(this).ajaxSubmit({
                        success: function (response) {
                            $("#status").empty().text(response);
                        },
                        error: function (err) {
                            $("#status").empty().text('Uploading Error : ' + err.status);
                        },
                    });
                    anotherClicked = false;
                } else if ($('#file').val() != "" && anotherClicked == false) {
                    $("#status").empty();
                    alert('This image was already uploaded before !');
                } else {
                    $("#status").empty();
                    alert('Sorry, please select any image file to be uploaded !');
                }
                return false;
            });
        });  
    </script>

</head>

<body>
    <%- include('./header') %>
    <h1 style="color: red;"> Click on upload image to get one </h1>
    <br>
    <form id="uploadForm" action="/images/uploadImage" method="post">
        <input class="btn btn-info" type="file" name="fileFormField" id="file" accept="image/*"><br /><br />
        <input class="btn btn-info" type="submit" value="Upload image" name="submit"><br /><br />
        <label> Uploading status: </label> <span id="status"></span>
    </form>

</body>

</html>